
{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='bootsrap.css')}}">
{% endblock %}


{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="list-group mb-4">

      <h2>To Do</h2>
      {% for item in fetch_todo() %}
        <p> {{item.name}} </p>
        <form class="float-end" method="POST" action="/remove/{{item.id}}">
          <input type="submit" name="dremove" class="btn-secondary" value="DELETE">
          <input type="hidden" name="remove_id" value="{{item.id}}">
        </form>
      {% endfor %}

       <h2>In Progress:</h2>  
      {% for item in fetch_in_progress() %}
      <p> {{item.name}}  </p>
      <form class="float-end" method="POST" action="/remove/{{item.id}}">
        <input type="submit" name="remove" class="btn-secondary" value="DELETE">
        <input type="hidden" name="remove_id" value="{{item.id}}">
      </form>
      <form class="float-end" method="POST" action="/complete/{{item.id}}">
        <input type="submit" name="complete" class="btn-secondary" value="Move to Done">
        <input type="hidden" name="remove_id" value="{{item.id}}">
      </form>
      {% endfor %}

      <h2>Done</h2>
      {% for item in fetch_done() %}
      <p> {{item.name}} </p>
      <form class="float-end" method="POST" action="/remove/{{item.id}}">
        <input type="submit" name="remove" class="btn-secondary" value="DELETE">
        <input type="hidden" name="remove_id" value="{{item.id}}">
      </form>
      {% endfor %}  


      <!-- List the todo items here -->
      </ul>
    </div>
  </div>
{% endblock %}

