{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}
ç

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">

      
      {% for item in get_items() %}
        <li><a href="{{ item.href }}"> {{ item.id }} </a> -  {{item.status}}  -  {{item.title}} </li>  
        <p> {{item.id}} -- {{item.status}} -- {{item.title}} </p>
      {% endfor %}

      <br><br><br><br>

      <form 
          method="post" action="/todo">
          <input type="text">
          <button type="submit">Add Item</button>
      </form>

  
        <!-- List the todo items here -->
      </ul>
    </div>
  </div>
{% endblock %}